logs
*.log
.*/
build/
.*
.npm
node_modules/
obj/
*.zip
*/package-lock.json
*.dll
lambda/custom-authorizer/package-lock.json
lambda/get-videos-list/package-lock.json
lambda/user-profile/package-lock.json
lambda/user-profile/package-lock.json
lambda/user-profile/package-lock.json
